<%=form_tag "#{ controller.controller_name}", :method => :get do %>
<div class="float-left">
    <input type="date" name="start" />
</div>
<div class="float-left">
    <input type="date" name="end">
</div>
<div class="float-left">
  <%= submit_tag "Search", :name => nil ,:style => "width:100px;height:40px",:class=>"form-control" %>
</div>
<% end %>

