<script>
  function create_client()
  {
      alert("hello");
      $.ajax({
          url:'/leads/client_creation_form',
          type:'post'

      });
  }
</script>
<%if @user.length != 0%>
   <datalist id="items"  onkeyup="alert('hello');">
      <%@user.each do |val|%>
        <option  value="<%=val.name%>"  label="<%=val.id%>"/>
      <%end%>
   </datalist>
<%else%>
    <div class="list-group">
      <a href="#" class="list-group-item" onclick="create_client();">
        New...
      </a>
    </div>
<%end%>




