
<header id='leads-head'>
  <section id='page-title' class='float-left'>
  <h2>Leads</h2>
  </section>
 <section  id='search-link' class='float-right'>

   <%= render 'advance_datepicker/datepicker' %>

 </section>
 </header>
<div class='clear-both'>
 </div>
<hr/>

   <div id="page-container">
   <%= render 'index' %>
   </div>


