<%= form_tag :action => :auth, :controller => :login, :method => :get do   %>
<main class="container">
  <div class="login-panel">
        <section id="brand" class="float-left">
          <div id="brand-name">
          <h3 id="color-grey">Kantoor</h3>
          </div>
        </section>
        <section id="login-form" class="float-right" style="">
          <div class="display-block">
            <p><b>Login to the system</b></p>
          </div>
          <div class="display-block">
            <p><%= text_field 'login','name',:class=>"form-control border-height",:placeholder=>"User Name" %></p>
          </div>
          <div class="display-block">
            <p><%= password_field 'login', 'password' ,:class=>"form-control border-height",:placeholder=>"Password" %></p>
          </div>
          <div class="display-block">
            <p><%= submit_tag :Signin ,:class=>"border-radius-0px-width"%></p>
          </div>
        </section>
        <div class="clear-both">
        </div>
  </div>
</main>
<%end %>