<%= form_tag :action => :auth, :controller => :login, :method => :get do   %>

<div class="container container-login">
     <div class="row row-login">
       <div class="col-lg-5 col-lg-5-login">
         <h2 class="h2-login-form">Kantoor</h2>
       </div>
       <div class="col-lg-7">
            <div class="login-form">
              <br/>
              <span><b>Login to system</b></span><br/>
              <span><%= text_field 'login','name',:class=>"form-control border-radius-0px width-login",:placeholder=>"User Name" %></span><br/>
              <span><%= password_field 'login', 'password' ,:class=>"form-control border-radius-0px width-login",:placeholder=>"Password" %></span> <br/>
              <span><%= submit_tag :submit ,:class=>"border-radius-0px-width"%></span>
            </div>
       </div>
     </div>
</div>
<% end %>
