@import 'bootstrap';

$top-link-color:black;   /*TOP NAV LINK COLORS*/

/*GLOBAL STYLES*/
body
{
  background: #FAFAFA;
  color: black;
}
.row
{
  padding: 0px 0px 0px 0px; /*TOP RIGHT BOTTOM LEFT*/
  margin:  0px 0px 0px 0px; /*TOP RIGHT BOTTOM LEFT*/
  width: 100%;
}
.col-lg-12
{
  padding: 0px 0px 0px 0px; /*TOP RIGHT BOTTOM LEFT*/
  margin:  0px 0px 0px 0px; /*TOP RIGHT BOTTOM LEFT*/
  width: 100%;
}
h2
{
  color: #0096C8;
  padding: 10px 0px 0px 0px;
  margin: 0px;
}
#search-link
{
  color: #0096C8;
  margin: 20px 0px 0px 0px;

}
hr
{
  margin: 0px;
  padding: 0px;
}

/*GLOBAL STYLES*/

/*CONTAINER GOES HERE*/
#container
{
  padding: 0px 0px 0px 0px; /*TOP RIGHT BOTTOM LEFT*/
  margin:  0px 0px 0px 0px; /*TOP RIGHT BOTTOM LEFT*/
  width: 100%;
  min-width: 390px;
  /*CONTENT GOES HERE*/
  #content
  {
    margin: 0px 0px 0px 0px;       /*TOP RIGHT BOTTOM LEFT*/
    padding: 20px 20px 20px 20px;  /*TOP RIGHT BOTTOM LEFT*/

    .col-lg-8
    {
      border: 1px solid #a1a1a1;
      margin: 0px 20px 0px 0px;
      background: #ffffff;

      a
      {
        color: #0096C8;
      }
    }

    .col-lg-3
    {
      border: 1px solid #a1a1a1;
      background: #ffffff;
    }
  }
  /*FOOTER GOES HERE*/
  #footer
  {
    padding: 0px 0px 0px 20px;   /*TOP RIGHT BOTTOM LEFT*/
  }
}
/*CONTAINER GOES HERE*/


/*NAVIGAION GOES HERE*/
#navigation
{
   margin: 0px 0px 0px 0px;    /*TOP RIGHT BOTTOM LEFT*/
  padding: 0px 0px 0px 0px;    /*TOP RIGHT BOTTOM LEFT*/
  border:1px solid #A1A1A1;
  border-radius: 0px;
  background: #F5F5F5;

  .container-fluid
  {
    margin: 0px 0px 0px 0px;    /*TOP RIGHT BOTTOM LEFT*/
    padding: 0px 0px 0px 0px;    /*TOP RIGHT BOTTOM LEFT*/

    .navbar-header
    {
      margin: 0px 0px 0px 0px;    /*TOP RIGHT BOTTOM LEFT*/
      padding: 0px 0px 0px 0px;    /*TOP RIGHT BOTTOM LEFT*/
      display: none;
    }
    .navbar-brand
    {
      margin: 5px 0px 0px 5px;    /*TOP RIGHT BOTTOM LEFT*/
      padding: 0px 0px 0px 0px;    /*TOP RIGHT BOTTOM LEFT*/

      h3
      {
        padding: 0px 0px 0px 3px;    /*TOP RIGHT BOTTOM LEFT*/
      }
    }
    div
    {
      ul
      {
        margin: 0px 0px 0px 0px;    /*TOP RIGHT BOTTOM LEFT*/
        padding: 0px 0px 0px 0px;    /*TOP RIGHT BOTTOM LEFT*/
        list-style: none;

        li
        {
          display: inline;
        }
      }
    }

    .navbar-collapse
    {
      margin: 0px 0px 0px 53px;  /*TOP RIGHT BOTTOM LEFT*/
      padding: 0px;              /*TOP RIGHT BOTTOM LEFT*/

      .navbar-nav
      {
       li:hover
       {
         background: transparent;
       }
       a
       {
         color: black;
       }
       a.active:hover
       {
         background: #ffffff;
       }
      }
    }
    #nav-top-links
    {
      margin: 3px 10px 0px 0px;  /*TOP RIGHT BOTTOM LEFT*/
      padding: 0px;              /*TOP RIGHT BOTTOM LEFT*/

      a
      {
        color: $top-link-color;
      }
    }
    #logo
    {
      margin: 5px 0px 0px 8px;  /*TOP RIGHT BOTTOM LEFT*/

      img
      {
        height: 59px;
        width: 59px;
      }
    }
    #company-name
    {
      margin:10px 0px 0px 12px; /*TOP RIGHT BOTTOM LEFT*/

      h3
      {
        margin: 0px;           /*TOP RIGHT BOTTOM LEFT*/
        padding: 0px;          /*TOP RIGHT BOTTOM LEFT*/
      }
    }

    #nav-top-links
    {
      margin: 10px 10px 0px 0px;   /*TOP RIGHT BOTTOM LEFT*/
      ul
      {
        margin: 0px 0px 0px 0px;  /*TOP RIGHT BOTTOM LEFT*/
        padding:0px 0px 0px 0px;  /*TOP RIGHT BOTTOM LEFT*/
        line-height: 10px;
      }
    }
    #bs-example-navbar-collapse-1
    {
      margin: -13px 0px 0px 77px; /*TOP RIGHT BOTTOM LEFT*/
    }
  }
}
/*NAVIGATION GOES HERE*/



/*SOME LINKS ARE OUTSIDE OF NAVBAR STRUCTURE BECAUSE IT DOES NOT SUPPORT THIS STRUCTURE*/
.navbar-nav > li > a {
  line-height:0px;
  padding-bottom:0px;
  padding-top:0px;
  margin: 0px 0px -1px 0px;           /*TOP RIGHT BOTTOM LEFT*/

}
.nav > li > a {
  display:block;
  padding:11px 14px;
  position:relative;
}
.active
{
  border-top: 1px solid #A1A1A1;
  border-right: 1px solid #A1A1A1;
  border-left: 1px solid #A1A1A1;
  border-bottom: 1px solid white;
  margin: 0px 0px -1px 0px;          /*TOP RIGHT BOTTOM LEFT*/
  background-color: #ffffff;
}
/*SOME LINKS ARE OUTSIDE OF NAVBAR STRUCTURE BECAUSE IT DOES NOT SUPPORT THIS STRUCTURE*/


/*HELPER CLASSES*/
.float-right
{
  float: right;
}
.float-left
{
  float: left;
}
.clear-both
{
  clear: both;
}
/*HELPER CLASSES*/


/*STYLES OVERRIDING AT <=768PX*/
@media (max-width: 768px)
{

/*CONTAINER GOES HERE*/
  #container
  {
    #content
    {
      .col-lg-8
      {
        margin: 0px 0px 0px 0px;  /*TOP RIGHT BOTTOM LEFT*/
        a
        {
        }
      }
      .col-lg-3
      {
      }
    }
    /*FOOTER GOES HERE*/
    #footer
    {

    }
  }
/*CONTAINER GOES HERE*/

/*NAVIGATION GOES HERE*/
  #navigation
  {
    .container-fluid
    {
      .navbar-header
      {
        display: inline-block;
        position: absolute;
        width: 45px;
        right: 10px;
        float:right;
        top: 25px;

        .navbar-toggle
        {
          margin: 0px 0px 0px 0px;  /*TOP RIGHT BOTTOM LEFT*/
        }
      }
      .navbar-brand
      {
        h3
        {
          margin: 0px 0px 0px 0px;    /*TOP RIGHT BOTTOM LEFT*/
          padding: 0px 0px 0px 3px;    /*TOP RIGHT BOTTOM LEFT*/
        }
      }
      div
      {
        ul
        {
          margin: 0px 0px 0px 0px;    /*TOP RIGHT BOTTOM LEFT*/
          padding: 0px 0px 0px 0px;    /*TOP RIGHT BOTTOM LEFT*/
          list-style: none;

          li
          {
            display: inline;
          }
        }
      }

      .navbar-collapse
      {
        margin: 0px 0px 0px 0px;   /*TOP RIGHT BOTTOM LEFT*/
        padding: 0px;              /*TOP RIGHT BOTTOM LEFT*/

      }
      #nav-top-links
      {
        margin: 5px 10px 0px 0px;  /*TOP RIGHT BOTTOM LEFT*/
        padding: 0px;              /*TOP RIGHT BOTTOM LEFT*/
      }
      #bs-example-navbar-collapse-1
      {
        margin: 8px 0 0 0;         /*TOP RIGHT BOTTOM LEFT*/
      }
    }
  }
/*NAVIGATION GOES HERE*/
  .navbar-nav > li > a
  {
    line-height:30px;
    padding: 0px 0px 0px 0px;     /*TOP RIGHT BOTTOM LEFT*/
  }
}
/*STYLES OVERRIDING AT <=768PX*/

















































/***leads just for the sample **********/

#edit-destroy-link
{
  margin: 0 0 0 0;      /*TOP RIGHT BOTTOM LEFT*/
}
.menu-position
{
  width: 100px;
  display: none;
  position: absolute;
  right: 10px;
}
#lead-record
{
  padding: 0 50px 0 0;   /*TOP RIGHT BOTTOM LEFT*/
}
