// Place all the styles related to the Leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/************************************************Leads/index.html.erb**************************************************/
/*seting the text color*/
.color
{
  color: #ffffff;   /*text color is white*/
}

/*setting the background color*/
.background_color
{
  background: #202020 ; /*grey shades*/
}

/************************************************Leads/index.html.erb**************************************************/

