// Place all the styles related to the Leads controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


/************************************************Leads/index.html.erb**************************************************/
/*seting the text color*/
.color
{
  color: #ffffff;       /*text color is white*/
}

/*setting the background color*/
.background_color
{
  background: #202020 ; /*grey shades*/
}

/*setting the margins of horizontal row in leads index.html.erb*/
.margin
{
  margin: 0 -3% 0 -3%; /*top right bottom left*/
}
/*setting the color of the pae title*/
.page_title_color
{
  color: #0096C8;      /*setting the page title color*/
}

/*side bar display for leads index*/
.leads_sidebar
{

   width: 70%;
   border: 1px solid #808080;
   position: absolute;
   z-index:1000;
   left: 30%;
   top:10%;
   border-radius: 2%;
   box-shadow: 10px 10px 5px #888888;
}
.lead_sidebar_button
{
  margin: 0 0 0 0;
  padding: 1% 0 0 1%;
}

.margin_search_button
{
  margin: 4% 1% 0 0;
}

/************************************************Leads/index.html.erb**************************************************/

