// Place all the styles related to the Projects controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/************************************************Projects/index.html.erb***********************************************/
/*seting the text color*/
.color
{
  color: #ffffff;   /*text color is white*/
}

/*setting the background color*/
.background_color
{
  background: #202020 ; /*grey shades*/
}

/************************************************Projects/index.html.erb***********************************************/


/************************************************Projects/new.html.erb***********************************************/
.width_height
{
  width:20px;
  height:20px;
}
.float_left
{
  float: left;
}
.clear_both
{
  clear: both;
}
.visibility_hidden
{
  visibility: hidden;
}
/************************************************Projects/new.html.erb***********************************************/





