
/**************************************application.html.erb************************************************************/

/*for main container*/
.container
{
  height: 100%;
  width: 100%;
}

/*nav bar brand color*/
.navbar_brandcolor
{
  color: #ffffff;
}

/*nav bar links margins*/
.margin_navlinks
{
  margin:0.3% 0 0 0; /*top right bottom left*/
}

/*setting the border to 0px in nav bars*/
.border_0px
{
  border: 0px;       /*all four borders to 0px*/
}

/*nav bar login header style in which login link is displayed*/
.navlogin_header
{
  text-align: right;
  width: 100%;
  background: #000000;
  color: #ffffff;
  padding: 0 1% 0 0;   /*top right bottom left*/
}

/*login link color */
.login_link_color
{
  color: #ffffff;
}

/*log in link hover color*/
a.login_link_color:hover
{
  color: #808080;
}

/*log bar link colors*/
.nav_bar_links
{
  background: transparent;
  border: 0px;       /*all four borders to 0px*/
  color: #ffffff;
}

/*style for side bar in application.html.erb*/
.sidebar
{
  margin-left: 7.5%;
  border: 1px solid #000000;
  background:#202020;
}
/*float left for home link in the header*/
.float_left
{
  float: left;
}
/*margin left on home link*/
.margin_left
{
  margin: 0 0 0 1%;  /*top right bottom left*/
}
/**************************************application.html.erb************************************************************/




