/**************************************application.html.erb************************************************************/
/*extending the main container bootstrap class*/
.container
{
  margin: 0%;   /*top right bottom left*/
  padding: 0%;  /*top right bottom left*/
  width: 100%;
  height: 100%;
}
/*extending the bootstrap row class*/
.row
{
  margin: 0%;    /*top right bottom left*/
}
/*extending the bootstrap col-lg-12 class*/
.col-lg-12
{
  margin: 0%;    /*top right bottom left*/
  padding: 0%;   /*top right bottom left*/
}
/*extending the bootstrap navbar-inverse class*/
.navbar-inverse
{
  background: none;
  margin: 0%;     /*top right bottom left*/
  padding: 0%;    /*top right bottom left*/
  border: none;
  border-bottom: 1px solid #A1A1A1;
}
/*extending the bootstrap navbar*/
.navbar
{
  margin: 0%;             /*top right bottom left*/
}
/*setting the padding border and margin of yielded page container*/
.padding_margin_border
{
  padding: 0% 2% 2% 2%;  /*top right bottom left*/
  border: 1px solid #A1A1A1;
  margin: 1%;            /*top right bottom left*/
}
/*setting the padding of he copy right*/
.padding_left_copyright
{
  padding: 0 0 1% 1%;    /*top right bottom left*/
}
/*setting the text-color of copy-right*/
.text_color_copyright
{
  color: #2a2a2a;
}
/*setting the margins of the side bar*/
.side_bar
{
  border: 1px solid #A1A1A1;
  margin: 1% 0 0 3%;    /*top right bottom left*/
  padding: 0%;
}
/*setting the margins 4 for configuration - signin/out - logged in margin*/
.margin_4
{
  margin: 1% 1% 0 0;    /*top right bottom left*/
}
/*extending the button group class*/
.btn-group
{
  margin: -2% 0 5% 30%;  /*top right bottom left*/
  padding: 0 0 2% 0;     /*top right bottom left*/
}
/*exteding the btn-group class */
.dropdown-toggle
{
  width: 50%;
}
/*extending the dropdown-menu class */
.dropdown-menu
{
  width: 70%;
  position: absolute;
  top:45px;
}
/*main company logo goes here*/
.main_logo
{
  height:59px;
  width:59px;
  margin:5%;
}
/*left floats */
.float_left
{
  float: left;
}

/*float right*/
.float_right
{
  float: right;
}

/*margin left*/
.margin_left
{
  margin:0 0 0 100%;
}

/*setting the text color to black */
.text_color
{
  color: #000000;
}

/*setting the margin to the left of menu links */
.navlink_margin_bacground
{
  margin: -2% 0 0 5%;
}

/*setting the border to 0px*/
.border_0px
{
  border: 0px;
}

/*setting the back ground color and border for nav bar minimize links*/
.navbar_expandbutton
{
  background: transparent;
  border:1px solid #A1A1A1;

}

/*setting the text color to the black */
.text_color
{
  color: #000000;

}
/*line height for menu links */
.nav-tabs > li > a
{
  line-height: 85%;
  border: 1px solid transparent;
  border-radius: 0px;
}
/*side bar*/
.side_bar_border_margin
{
  border: 1px solid #A1A1A1;
  margin: 0 0 0 7.5%;
}
/*extending the navbar-collapse class from bootstrap*/
.navbar-collapse
{
  margin: -2% 0 0 4%; /*top right bottom left*/
}

/*main container border*/
.border_main_page
{
  border:1px solid #A1A1A1;
}
/*setting the border to none*/
.border_none
{
  border: none;
}
/**************************************application.html.erb************************************************************/


/**************************************Media Queries width<=768px******************************************************/
@media (max-width: 768px)
{
  .navbar-collapse
  {
    margin: 2% 0 0 5%; /*top right bottom left*/
  }
  .margin_4
  {
    margin: -12% 1% 0 0;    /*top right bottom left*/
  }
  .btn-group
  {
     margin: 0 0 15% 30%;
  }

}
/**************************************Media Queries width<=768px******************************************************/










